<h2>Here are the stores associated with the brand @Model["brand"].GetName() !</h2>

<ul>
  @{ if (Model["brandstore"].Count != 0) {
    @foreach (var store in Model["brandstore"]){
      <li>@store.GetName()</li>
    }
  }
}

</ul>

<h4>Add a store to this brand!:</h4>
<form action='/brand/add_store' method='post'>
  <input id='brand-id' name='brand-id' type='hidden' value='@Model["brand"].GetId()'>
  <label for='store-id'>Select a store</label>
  <select id='store-id' name='store-id' type='text'>
    @foreach (var store in @Model["allstores"])
    {
      <option value='@store.GetId()'>@store.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>



<a href="/brands">Back</a>
