<!DOCTYPE html>
<html>
  <head>
    <link href="../Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/css/styles.css" rel="stylesheet">
    <title>"Fun" Fighters</title>
  </head>
  <h1>"FUN" FIGHTERS</h1><br>
  <a href="/add_fighter" class="btn btn-primary">ADD FIGHTER</a><br>
  <a href="/fight" class="btn btn-danger">FIGHT!</a><br><br>
  <div class="conatiner">
  <h1>Leaderboard</h1>
    @{
      foreach(var fighter in Model){
        <div class="leaderboard">
          <img src="@fighter.GetImageLocation()"/>
          <h2 value="@fighter.GetId()"><a href="/update/@fighter.GetId()">@fighter.GetName()</a></h2>
          <div class="leaderStats">Wins: @fighter.GetWins() Losses: @fighter.GetLosses()</div>
        </div>
      }
    }
  </div>
</html>
