<h2>Here are the brands associated with the store @Model["store"].GetName() !</h2>

<ul>
  @{ if (Model["storebrand"].Count != 0) {
    @foreach (var brand in Model["storebrand"]){
      <li>@brand.GetName()</li>
    }
  }
}

</ul>

<h4>Add a Brand to this Store!:</h4>
<form action='/store/add_brand' method='post'>
  <input id='store-id' name='store-id' type='hidden' value='@Model["store"].GetId()'>
  <label for='brand-id'>Select a store</label>
  <select id='brand-id' name='brand-id' type='text'>
    @foreach (var brand in @Model["allbrands"])
    {
      <option value='@brand.GetId()'>@brand.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>



<a href="/stores">Back</a>
